body{
    font-family: '양진체';
    background-color: #4b3d78;
}
.suggestion{
    margin: 30px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #000;
}
.suggestion li span{
    display: inline-block;
}
.suggestion li a img{
    width: 80%;
    height: 80%;
    margin: 10px;
    margin: 0 auto;
    border: 1px solid #000;
}