h1 {
    widows: inherit;
    text-align: center;
    padding: 20px 0 20px 0;
/*    border: 1px solid black;*/
/*    text-shadow: 5px 0px 0px #27934A; */
    color: #27934A;
    font-weight: bold;
}
table{
    border: none;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    border-collapse : collapse;
    box-shadow: 4px 4px 4px #AAA;
    
}
td, th {
    border: none;  
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
};
table td{
    font-weight: bold;
}
table tr:nth-child(odd){
    background-color: #eee;
}
table td a{
    text-decoration: none;
    color: #eee;
    background-color: #27934A;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
}
